.box-search {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.search-input {
  border-radius: 5px;
  padding: 5px;
}
.main-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 80%;
  border-collapse: collapse;
}
.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}
.table th {
  background-color: #000;
  color: #ffffff;
}
.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
.delete-button {
  background: #dc3545;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  width: 100px;
  font-size: 16px;
  height: 30px;
  border: none;
}
.edit-button {
  background: #0071c2;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  width: 100px;
  font-size: 16px;
  height: 30px;
  border: none;
}

@media (max-width: 750px) {
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    font-size: 15px;
  }
}
