@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

input,
button {
  font: 400 18px Roboto, sans-serif;
}

input {
  margin: 0 10px;
  width: 280px;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  text-align: center;
}
